
#fullThing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.rowOne {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 960px;
}

.navContainer ul {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  font-size: 24px;
}


.rowTwo {
  display: flex;
  justify-content: space-around;
}

.rowThree {
  width: 960;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.rowFour {
  display: flex;
  gap: 30px;
  justify-content: center;

}

.columnOne {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 400px;
  gap: 10px;
}

.columnOne p {
  height: 350px;
  overflow: auto;
}

footer {
  background-color: grey;
  height: 120px;
}

button {
  background-color: #111;
  color: #eee;
  height: 40px;
  width: 360px;
  border-radius: 10px;
}

button:hover {
  background-color: rebeccapurple;
  cursor: pointer;
}
