#fullThing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.rowOne {
  display: flex;
  background-color: grey;
  color: #eee;
  align-items: center;
  justify-content: center;
}
.listContainer {
  width: 960px;
  padding: 24px 0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.rowTwo {
  display: flex;
  justify-content: space-around;
}

.rowThree {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.rowFour {
  display: flex;
  justify-content: center;
  gap:30px;
}

.columnOne {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 400px;
  gap: 10px;
}

.columnOne p {
  height: 350px;
  overflow: auto;
}

footer {
  background-color: grey;
  height: 120px;
}

button {
  background-color: #111;
  color: #eee;
  height: 40px;
  width: 360px;
  border-radius: 10px;
}
